

img{
	width:400px
}

.answer {
  visibility: hidden;
}

.secret {
  visibility: hidden;
}

.tutorialBlock {
  visibility: hidden;
}

.score {
  visibility: hidden;
}

.filter {
  visibility: hidden;
}


#filterButton {
  visibility: hidden;
}


